*{
    color: white;
}

h1{
    font-size: 5rem;
}

@media (max-width : 800px) {
    h1{
        font-size: 2rem;
    }
}

body{
    background-color: red;

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ghost{
    display: none;
}

.switcher{
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.switcher p{
    padding: 0.5em 2em 0.5em 2em;
}

.selected{
    color: burlywood;
}

.button box-icon{
    width: 5rem;
    height: 5rem;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
    width: 20rem;
    height: 20rem;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-color: white;
    border: solid;
    border-width: 8px;
    font-size: 5rem;
}